<div class="container-fluid">
  <div class="row platforms">
		<div ng-controller="NewSiteCtrl">

			<div class="input-group">
				<form novalidate>
					<h3>Add site to platform</h3>
					<div class="form-group">
						<label for="sitename">Sitename:</label>
						<input class="form-control" type="text" ng-model="site.InstallInfo.SiteName" placeholder="enter site name">
					</div>
					<div class="form-group">
						<label for="subdirectory">Sub directory:</label>
						<input class="form-control" type="text" ng-model="site.InstallInfo.SubDirectory" placeholder="enter sub directory">
					</div>
					<br><br>
					<div class="form-group">
						<label for="subdirectory">Select template:</label>
  					<select ng-model="site.InstallInfo.TemplatePath" ng-options="template for template in templates"></select>
  				</div>

 					<!-- HTTP server form inputs -->
 					<div class="form-group">
						<label for="addhttp">Add http server:</label>
  					<input type="checkbox" ng-model="httpServerAdded"></input>
  				</div>
  				
  				<div class="form-group" ng-if="httpServerAdded" class="animate-if">
  					<h3>Http-server info</h3>
	 					
	 					<div class="form-group">
							<label for="">Config template:</label>
	  					<select ng-model="site.HttpServer.Template" ng-options="template for template in httpTemplates"></select>
	  				</div>

						<div class="form-group">
							<label for="httpServerName">Server name:</label>
							<input class="form-control" type="text" ng-model="site.HttpServer.DomainInfo.DomainName" placeholder="enter server name">
							<label for="httpHostName">Server host:</label>
							<input class="form-control" type="text" ng-model="site.HttpServer.DomainInfo.Host" placeholder="enter host name">							
						</div>

					<div class="form-group">
						<label for="http.port">Port:</label>
  					<input class="form-control" type="text" ng-model="site.HttpServer.Port" placeholder="enter http port">
  				</div>

						<div class="form-group">
							<h4>Server aliases</h4>
							  <ul>
							    <li ng-repeat="alias in http.aliases">
							      Name: <input ng-model="alias.DomainName">
							      Host: <input ng-model="alias.Host">
							      [<a href ng-click="http.aliases.splice($index, 1)">X</a>]
							    </li>
							    <li>
							      [<a href ng-click="http.aliases.push({})">add</a>]
							    </li>
							  </ul>
						</div>

  				</div>
  				<!-- End http server info -->

  				<!-- SSL server form inputs -->
 					<div class="form-group">
						<label for="addhttp">Add SSL server:</label>
  					<input type="checkbox" ng-model="SSLServerAdded"></input>
  				</div>
  				
  				<div class="form-group" ng-if="SSLServerAdded" class="animate-if">
  					<h3>SSL-server info</h3> 

	 					<div class="form-group">
							<label for="">Config template:</label>
	  					<select ng-model="site.SSLServer.Template" ng-options="template for template in sslTemplates"></select>
	  				</div>

						<div class="form-group">
							<label for="sslServerName">Server name:</label>
							<input class="form-control" type="text" ng-model="site.SSLServer.DomainInfo.DomainName" placeholder="enter server name">
							<label for="sslHostName">Host name:</label>
							<input class="form-control" type="text" ng-model="site.SSLServer.DomainInfo.Host" placeholder="enter host name">							
						</div>

					<div class="form-group">
						<label for="ssl.port">Port:</label>
  					<input class="form-control" type="text" ng-model="site.SSLServer.Port" placeholder="enter ssl port">
  				</div>

					<div class="form-group">
						<h4>Server aliases</h4>
						  <ul>
						    <li ng-repeat="alias in ssl.aliases">
						      Name: <input ng-model="alias.DomainName">
						      Host: <input ng-model="alias.Host">
						      [<a href ng-click="ssl.aliases.splice($index, 1)">X</a>]
						    </li>
						    <li>
						      [<a href ng-click="ssl.aliases.push({})">add</a>]
						    </li>
						  </ul>
					</div>

					<div class="form-group">
						<label for="certificate">Select certificate:</label>
  					<select ng-model="site.SSLServer.Certificate" ng-options="certificate for certificate in certificates"></select>
  				</div>

					<div class="form-group">
						<label for="subdirectory">Select cert key:</label>
  					<select ng-model="site.SSLServer.Key" ng-options="certkey for certkey in certKeys"></select>
  				</div>  				

  				</div>

  				<!-- End SSL server info -->

			    <button type="submit" class="btn btn-default" ng-click="reset()">RESET</button>
			    <button type="submit" class="btn btn-default" ng-click="submit(site)">SEND</button>

				</form>
			</div><!-- /input-group -->

		</div>
  </div>
</div>