 <div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Site installation process</h4>
      </div>
      
      <div class="well">
        <ul class="list-unstyled">
          <li ng-repeat="msg in processMsg">
            <p class="text-muted">{{msg}}</p>
          </li>
        </ul>
      </div>  

    </div>
  </div>
</div>